@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&family=Mochiy+Pop+P+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
    width: 3px;
    height:3px;
}

::-webkit-scrollbar-track {
    background: #333333;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

::-webkit-scrollbar-thumb:hover {
    background: transparent;
}
body{
    background: url("https://i.ibb.co/WBf2CcQ/bg.png") no-repeat top right/cover;
    background-color:#061F2E ;
    height: 100vh;
    width: 100%;
}
header{
    display: flex;
    width: 100%;
    background: #0000003a;
    backdrop-filter: blur(12px);
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}
header > ul {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    width: 40%;
    padding: 0px 30px;
}
header > ul > li{
    list-style: none;
}
header > ul > li >a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    padding-bottom: 5px;
    border-bottom: 7px solid transparent ;
    transition: .6s;
}
header > ul > li >a:hover,#a1{
    border-bottom: 7px solid yellow ;
}
.buttons1{
    width: 20%;
}

#singin{
    padding: 10px 20px;
    border: 2px solid yellow;
    background: yellow;
    color: black;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: .6s;
}
#singin:hover{
    background: rgb(243, 243, 170);
}
#singup:hover{
    background: rgba(255, 255, 0, 0.347);
}
#singup{
    padding: 10px 20px;
    border: 2px solid yellow;
    background: transparent;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: .6s;
}
.logo{
    color: white;
    padding: 0px 20px;
    width: 250px;
}
.details{
    width: 90%;
    margin: 0 auto;
    height: 500px;
    border-radius: 12px;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
    height: 500px;
    background: rgba(0, 0, 0, 0.324);
    backdrop-filter: blur(5px);
    border-radius: 12px;
    display: flex;
    padding: 30px 30px;
    align-items: center;
}
.img-film{
    width: 30%;
}
.content-film{
    width: 60%;
    height: 100%;
}
.titles > h2 {
    color: yellow;
    font-size: 30px;
}
.titles > h1 {
    color: white;
    font-size: 40px;
    font-weight: 900;
}
.titles-content{
    width: 90%;
    margin: 0 auto;
    display: flex;
}
.proprty{
    display: flex;
    align-items: center;
}
.proprty > h3 {
    padding: 0 10px;
    font-size: 14px;
    font-weight: 300;
    color: white;
}
.delay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;

}
.delay > h3 {
    font-size: 14px;
    font-weight: 700;
    color: yellow;
}
.quality > div {
    display: flex;
}
.quality > div > h2 {
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 300;
    border: 1px solid yellow;
}
#book{
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 300;
    border: 1px solid yellow;
    background: transparent;
    margin-left: 6px;
    cursor: pointer;
    transition: .6s;
}
#book:hover{
    background: yellow;
    color: black;
}
.desc{
    width: 90%;
}
.desc > p {
    font-size: 15px;
    color: #ededed;
    text-align: justify;
}
.film-res {
    margin-top: 20px;
    width: 50%;
    height: 30%;
    display: flex;
    background:#061F2E;
    border: 2px solid #333333;
    border-radius: 25px;
    align-items: center;
    justify-content: space-around;
}
.film-res > form {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 20px;
}
.film-res > form > input{
    width: 30%;
    padding: 8px;
    border-radius: 8px;
    margin: 1px 3px;
    border: 2px solid #6c757d;
    border-radius: 7px;
    outline: none;
    color: yellow;
    background: transparent;
    margin: 0 5px;
}
.reservation{
    background: transparent;
    cursor: pointer;
    border: none;

}
.reservation {
    padding: 10px 20px;
    border: 1px solid yellow;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 800;
    transition: .6s;
}
.reservation:hover {
    background: yellow;
    color: black;
}