@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&family=Mochiy+Pop+P+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
    width: 3px;
    height:3px;
}

::-webkit-scrollbar-track {
    background: #333333;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

::-webkit-scrollbar-thumb:hover {
    background: transparent;
}
body{
    background: url("https://i.ibb.co/6HHn2KM/venom-movie-8k-41-7680x4320.jpg") no-repeat top right/cover;
    background-color:#061F2E;
    height: 100vh;
    width: 100%;
}
header{
    display: flex;
    width: 100%;
    background: rgba(0, 0, 0, 0.228);
    backdrop-filter: blur(12px);
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}
header > ul {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    width: 40%;
    padding: 0px 30px;
}
header > ul > li{
    list-style: none;
}
header > ul > li >a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    padding-bottom: 5px;
    border-bottom: 7px solid transparent ;
    transition: .6s;
}
header > ul > li >a:hover,#a1{
    border-bottom: 7px solid yellow ;
}
.buttons1{
    width: 20%;
}

#singin{
    padding: 10px 20px;
    border: 2px solid yellow;
    background: yellow;
    color: black;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: .6s;
}
#singin:hover{
    background: rgb(243, 243, 170);
}
#singup:hover{
    background: rgba(255, 255, 0, 0.347);
}
#singup{
    padding: 10px 20px;
    border: 2px solid yellow;
    background: transparent;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: .6s;
}
#singin > a {
    color: black;
    text-decoration: none;
}
#singup > a {
    color: white;
    text-decoration: none;
}
.logo{
    color: white;
    padding: 0px 20px;
    width: 250px;
}
.main{
    width: 80%;
    height: 500px;

    border-radius: 12px;
    margin: 20px auto;
    display: flex;
    align-items: center;
}
.main-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
}
.img-login{
    width: 50%;
    height: 450px;
    padding: 50px;
    display: flex;
    align-items: center;
}
.img-login > img{
    height: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 4px 4px 15px black;
}
.formAll{
    width: 50%;
}
form{
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    background: #061f2e67;
    backdrop-filter: blur(12px);
}
.formAll > h1{
    color: yellow;
    font-size: 30px;
    font-weight: 800;
    padding: 20px 0;
    padding: 20px;
    border-radius: 10px;
    background: #061f2e67;
    backdrop-filter: blur(12px);
    width: 80%;
    margin: 8px 0px;
}
label{
    font-size: 17px;
    color: white;
    font-weight: 700;
}
input{
    padding: 14px 24px;
    border-radius: 5px;
    outline: none;
    background: transparent;
    border: 2px solid #1c2a32;
    margin: 5px 1px;
    color: white;
}
input::placeholder{
    color: rgb(214, 214, 214);
    font-weight: 700;
}
#btn{
    padding: 5px 15px;
    margin-top: 10px;
    color: #061F2E;
    background: yellow;
    font-size: 17px;
    font-weight: 700;
    border: 10px solid transparent;
    transition: .6s;
    cursor: pointer;
    border-radius: 4px;
}
#btn:hover{
    background: #061F2E;
    color: yellow;
}