<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">

		
		<servlet>
			<servlet-name>ShowFilmsServlet</servlet-name>
			<servlet-class>com.Cenima.Servlets.ShowFilmsServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>ShowFilmsServlet</servlet-name>
			<url-pattern>/</url-pattern>
		</servlet-mapping>

	<servlet>
		<servlet-name>InsertFilmServlet</servlet-name>
		<servlet-class>com.Cenima.Servlets.InsertFilmServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InsertFilmServlet</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>

	<!--  -->
	<servlet>
		<servlet-name>DeleteF</servlet-name>
		<servlet-class>com.Cenima.Servlets.DeleteF</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteF</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>


		<servlet>
			<servlet-name>Reservation_film</servlet-name>
			<servlet-class>com.Cenima.Servlets.Reservation_film</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Reservation_film</servlet-name>
			<url-pattern>/reservation</url-pattern>
		</servlet-mapping>
		
		<!--  -->
	<servlet>
		<servlet-name>Details</servlet-name>
		<servlet-class>com.Cenima.Servlets.Details</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Details</servlet-name>
		<url-pattern>/details</url-pattern>
	</servlet-mapping>
	<!--  -->
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.Cenima.registration.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>


	<!--  -->
   		<jsp-config>
        	<jsp-property-group>
            	<url-pattern>*.jsp</url-pattern>
           		<include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
        	</jsp-property-group>
    	</jsp-config>

		
</web-app>